In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
tf.random.set_seed(3)
from tensorflow import keras

In [2]:
data=pd.read_csv('/content/loan_approval_dataset.csv')

In [3]:
data.head()

   loan_id   no_of_dependents      education  ...  luxury_assets_value   bank_asset_value   loan_status
0        1                  2       Graduate  ...             22700000            8000000      Approved
1        2                  0   Not Graduate  ...              8800000            3300000      Rejected
2        3                  3       Graduate  ...             33300000           12800000      Rejected
3        4                  3       Graduate  ...             23300000            7900000      Rejected
4        5                  5   Not Graduate  ...             29400000            5000000      Rejected

[5 rows x 13 columns]

In [9]:
data.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [31]:
X=data.drop(columns=[' education',' self_employed',' loan_status'],axis=1)
Y=data[' loan_status']
Y=Y.replace("Approved",1)
Y=Y.replace("Rejected",0)

In [41]:
model=keras.Sequential([
    keras.layers.Flatten(input_shape=(10,)),
    keras.layers.Dense(20,activation='relu'),
    keras.layers.Dense(2,activation='sigmoid')
])

In [42]:
model.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [27]:
print(X.dtypes)
print(Y.dtypes)

loan_id                      int64
 no_of_dependents            int64
 income_annum                int64
 loan_amount                 int64
 loan_term                   int64
 cibil_score                 int64
 residential_assets_value    int64
 commercial_assets_value     int64
 luxury_assets_value         int64
 bank_asset_value            int64
dtype: object
object

In [33]:
Y.head()

0     Approved
1     Rejected
2     Rejected
3     Rejected
4     Rejected
Name:  loan_status, dtype: object

In [38]:
Y= Y.replace({" Approved": 1, " Rejected": 0})
Y.head()

0    1
1    0
2    0
3    0
4    0
Name:  loan_status, dtype: int64

In [39]:
X = np.array(X).astype(np.float32)  # Convert X to float32
Y = np.array(Y).astype(np.float32)  # Convert Y to float32

In [43]:
model.fit(X, Y, validation_split=0.1, epochs=10)

Epoch 1/10
121/121 [==============================] - 1s 4ms/step - loss: 407388.8125 - accuracy: 0.5010 - val_loss: 167827.9375 - val_accuracy: 0.4824
Epoch 2/10
121/121 [==============================] - 0s 2ms/step - loss: 112884.0469 - accuracy: 0.5375 - val_loss: 82786.1172 - val_accuracy: 0.5480
Epoch 3/10
121/121 [==============================] - 0s 2ms/step - loss: 58249.2109 - accuracy: 0.5505 - val_loss: 51842.3477 - val_accuracy: 0.5129
Epoch 4/10
121/121 [==============================] - 0s 2ms/step - loss: 37084.9922 - accuracy: 0.5466 - val_loss: 34910.4766 - val_accuracy: 0.5035
Epoch 5/10
121/121 [==============================] - 0s 2ms/step - loss: 25174.9609 - accuracy: 0.5583 - val_loss: 27461.7012 - val_accuracy: 0.4684
Epoch 6/10
121/121 [==============================] - 0s 2ms/step - loss: 17833.7852 - accuracy: 0.5401 - val_loss: 18769.3301 - val_accuracy: 0.5293
Epoch 7/10
121/121 [==============================] - 0s 2ms/step - loss: 16497.3652 - accuracy: 0.5450 - val_loss: 30502.6973 - val_accuracy: 0.6464
Epoch 8/10
121/121 [==============================] - 0s 2ms/step - loss: 13058.5547 - accuracy: 0.5349 - val_loss: 22560.1270 - val_accuracy: 0.3888
Epoch 9/10
121/121 [==============================] - 0s 2ms/step - loss: 10439.2012 - accuracy: 0.5271 - val_loss: 19434.8340 - val_accuracy: 0.3911
Epoch 10/10
121/121 [==============================] - 0s 2ms/step - loss: 12253.1172 - accuracy: 0.5344 - val_loss: 13547.0576 - val_accuracy: 0.6089